*{
    margin: 0;
    padding: 0;
}
.menubar{
    left: 0;
    width: 35px;
    height: 580px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    box-shadow: 0 0 20px #d4d4d4;
    transition: .5s;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.menubar:hover{
    width: 180px;
}
.list{
    font-size: 20px;
    width: 40px;
    color: darkslategrey;
    padding: 10px;
}
.menubar i{
    font-size: 15px;
}

.top_navbar {
  overflow: hidden;
  background-color: #87ceeb;
}




